.Rproj.user
.Rhistory
.RData
.Ruserdata

rsconnect/shinyapps.io/ecosystemplanningrestoration/SDAMS_staging.dcf
gp_report.log

/gp_report_files
spatial/tl_2019_us_primaryroads.cpg
spatial/tl_2019_us_primaryroads.dbf
spatial/tl_2019_us_primaryroads.prj
spatial/tl_2019_us_primaryroads.shp
spatial/tl_2019_us_primaryroads.shp.ea.iso.xml
spatial/tl_2019_us_primaryroads.shp.iso.xml
spatial/tl_2019_us_primaryroads.shx
panels/progress_checker
